NODE_ENV=development
PORT=5001

DB_HOST=localhost
DB_PORT=3306
DB_USER=u968849232_3234admin
DB_PASSWORD=3234AdminPass
DB_NAME=u968849232_rtr_strngt_fnd

JWT_SECRET=rGjr1owFrFg+xgZF5dJYQ4yjXq0pQcL22WnkUnoQHMU=
JWT_EXPIRES_IN=7d

UPLOAD_DIR=uploads
MAX_FILE_SIZE=5242880
